.filterContainer{
    font-family: 'Raleway', sans-serif;
    color: #2f3543;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 600px;
}

.filterTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.cardBody {
    padding: 10px;
}

@media all and (max-width: 480px) {

    .filterContainer{
        height: 600px;
    }


}

@media all and (max-width: 350px) {

    .filterContainer{
        height: 500px;
    }

}