.header-login{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 8vh;
  background-color:#FDCA6E;
  color: #2F3543;
  font-family: 'Raleway', sans-serif;
}

.header-login p{
  position: absolute;
  font-size: 18px;
}

.main-login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
}

.form-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.inputLogin {
  background-color: #f4e3e3;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 14px;
}

.buttonLogin {
  border-style: none;
  border-radius: 5px;
  background-color: #FDCA6E;
  padding: 10px;
  margin-bottom: 10px;
  color: #2F3543;
  width: 100%;
  font-size: 14px;
}

.avatar-register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-register {
  width: 20%;
}


@media all and (max-width: 500px) {

  .avatar-register {
    width: 60%;
  }

}
  