.navbar {
  width: 100%;
  background-color:#FDCA6E;
  color: #2F3543;
  font-family: 'Raleway', sans-serif;
}

.navColl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}